# Frontend Environment Variables
# Copy this file to .env.local for local development

# Set this to your Render backend URL after deploying
VITE_BACKEND_URL= "https://devtinder-backend-q5c0.onrender.com"
